POSTGRES_USER=testuser
POSTGRES_PASSWORD=testpass
POSTGRES_DB=testdb
POSTGRES_PORT=5432

REDIS_PORT=6379
REDIS_PASSWORD=testpass

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

QDRANT_HTTP_PORT=6333
QDRANT_GRPC_PORT=6334


# Optional: only needed when running `docker compose --profile cloud ...`
# If not set, the cloudflare tunnel will not be used and services will be exposed on the host network.
# Use UFW to lock it down to LAN only, e.g. 
# sudo ufw allow from 192.168.1.0/24 to any port 6333 proto tcp
#sudo ufw allow from 192.168.1.0/24 to any port 6334 proto tcp
CLOUDFLARED_TUNNEL_TOKEN=
